.btn--close {
  background: none;
  border: none;
  color: black;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0rem;
  top: 1rem;
  font-size: 2rem;
}



.add-product-form {
  padding: 5%;
  border: none;
}